body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  a{
    color:blueviolet;
  }
figure{
margin:auto;
display:block;
width:50%;
}
figcaption{
    font-style:italic;
}