    <header>
        <h1> John Lee || Jobless Leopard || ITIS 3135</h1>
        <nav>
            <a href="./">Homepage</a>
            ||
            <a href="introduction.html">Introduction</a>
            ||
            <a href="contract.html">Contract</a>
            ||
            <a href="stuff/P-g.htm">Crappy Webpage</a>
            ||
            <a href="theleeinc.com/firm.html">Company site</a>
            ||
            <a href="website_evaluations.html">Website Evaluations</a>
            ||
            <a href="forms.html">Forms</a>
            ||
            <a href="tables.html">Tables</a>
            || 
            <a href="firstscripts.html">First Scripts</a>
            ||
            <a href="project_1.html">Client Project 1</a>
            ||
            <a href="byo_intro.html">BYO-INTRO PAGE</a>
            ||
            <a href="calculator.html">Calculator</a>
            ||
            <a href="arrays.html">Arrays</a>
            ||
            <a href="../snailbot/client.html">Client Project Part 2</a>
            ||
            <a href="snailbot/client.html">Snailbot</a>
            ||
            <a href="review1.html">Review 1</a>
            ||
            <a href="review2.html">Review 2</a>
            ||
            <a href="interactiveDrawing.html">Interactive Drawing</a>
            ||
            <a href="slideshow.html">Name Slideshow</a>
            ||
            <a href="/">Back to Main Site</a>
        </nav>
    </header>