<header style="text-align:center">
    <nav>
    <h1>
        <a href="client.html">Snailbot</a>
    </h1>
    <ul>
    <li>
        <a href="policy.html">Privacy Policy</a>
    </li>
    <li>
        <a href="terms.html">Terms of Service</a>
    </li>
    <li>
        <a href="changes.html">Changelog</a>
    </li>
    <li>
        <a href="setup.html">Setup</a>
    </li>
    <li>
        <a href="https://snailbot.net/invite">Invite SnailBot</a>
    </li>
    <li>
        <a href="https://discord.gg/BRU7Tc2">Support server</a>
    </li>
    </ul>
    </nav>
    </header>